<div id="share-link">
  <% if target == :signup %>
    <p>
      <%= link_to t("devise.sessions.log_in"),
        "javascript:void(0)", class: "login" %>
    </p>
  <% end %>

  <% if target == :signin %>
    <p>
      <%= link_to t("devise.registrations.sign_up"),
        "javascript:void(0)", class: "signup" %>
    </p>
  <% end %>

  <% if devise_mapping.omniauthable? %>
    <% resource_class.omniauth_providers.each do |provider| %>
      <p>
        <%= link_to t("devise.omniauthable.sign_in_with",
          provider: OmniAuth::Utils.camelize(provider)),
          omniauth_authorize_path(resource_name, provider) %>
      </p>
    <% end %>
  <% end %>
</div>
