<div id="slider">
  <ul>
    <li>
      <%= image_tag("slider/home-calendar.jpg") %>
      <div class="content"></div>
    </li>
    <li>
      <%= image_tag("slider/home-calendar-1.jpg") %>
      <div class="content"></div>
    </li>
    <li>
      <%= image_tag("slider/home-calendar-3.jpg") %>
      <div class="content"></div>
    </li>
  </ul>
  <button class="prev"><i class="fa fa-chevron-left fa-3x"></i></button>
  <button class="next"><i class="fa fa-chevron-right fa-3x"></i></button>
</div>
