<div id="google-event-popup" class="dialog dialog-hidden popup">
  <div class="bubblemain">
    <div class="bubble-close close-popup cancel-popup-event"></div>
    <div class="bubblecontent">
      <div class="tab-container">
        <div id="ghead-popup" class="form-group">
          <div class="title-popup-wap" >
            <div id="color-event"></div>
            <div id="gtitle-popup" class="title-popup data-display">
              <span></span>
              <a href="" target="_blank" id="gevent-btn" title="<%= t("events.open_on_google_calendar") %>">
                <i class="fa fa-external-link" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div id="gdata-popup">
          <div id="gtime-data" class="form-group">
            <label><%= t ".time" %></label>
            <span id="gtime-event-popup" class="tile-content"></span>
          </div>
          <div id="calendar-data" class="form-group">
            <label><%= t ".calendar" %></label>
            <span id="gcalendar-event-popup" class="tile-content"></span>
          </div>
        </div>
      </div>
    </div>
    <div id="gprong-popup" class="bottom-prong">
      <div class="prong-dk"></div>
      <div class="prong-lt"></div>
    </div>
  </div>
</div>
