#!/usr/bin/env puma
threads_max = ENV.fetch("RAILS_MAX_THREADS"){ 5 }.to_i
threads_min = ENV.fetch("RAILS_MIN_THREADS"){ 1 }.to_i
threads threads_min, threads_max

# Specifies the `port` that Puma will listen on to receive requests, default is 3000.
#
port        ENV.fetch("PORT") { 3000 }.to_i

# Specifies the `environment` that Puma will run in.
environment ENV.fetch("RAILS_ENV") { "development" }

application_path = "/home/nguyen.binh.dieu/workspaces/rails"
directory_path = "#{application_path}/framgia_crb_v2"
directory directory_path
rackup "#{directory_path}/config.ru"

pidfile "#{application_path}/shared/tmp/pids/puma.pid"
state_path "#{application_path}/shared/tmp/pids/puma.state"
stdout_redirect "#{application_path}/shared/log/puma_access.log", "#{application_path}/shared/log/puma_error.log", true

bind "unix://#{application_path}/shared/tmp/sockets/puma.sock"

workers ENV.fetch("WEB_CONCURRENCY") { 2 }.to_i

prune_bundler

on_restart do
  puts "Refreshing Gemfile"
  ENV["BUNDLE_GEMFILE"] = "#{directory_path}/Gemfile"
end

# Allow puma to be restarted by `rails restart` command.
plugin :tmp_restart
