<h2 id="clst_places" class="calHeader goog-zippy-collapsed">
  <div class="hover-my-calendar">
    <span id="places-zippy-arrow" class="h zippy-arrow down" unselectable="off">&nbsp;</span>
    <span class="calHeaderSpace"><%= t ".places" %></span>
  </div>
</h2>
<div id="collapse3" class="panel-collapse collapse in" aria-expanded="true">
  <div class="send-request-email border-light">
  </div>
  <ul class="list-group">
    <%= render @places %>
  </ul>
</div>
