@import "color";

$font_0: Arial;
$font_1: sans-serif;

html,
body {
  background-color: #FFFFFF;
  display: block;
  font: small/normal Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  position: relative;
}

p {
  margin: 0 0 10px 0;
}

a {
  color: #428bca;
  text-decoration: none;
  &:hover, &:focus {
    color: #2a6496;
    text-decoration: none;
  }
  &:active {
    outline: 0;
  }
}

ul {
  list-style: none;
}

::-webkit-input-placeholder {
  color: #999;
}

:-moz-placeholder { /* Firefox 18- */
  color: #999;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #999;
}

:-ms-input-placeholder {
  color: #999;
}

label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
  input {
    *overflow: hidden;
    height: 13px;
    margin:0;
    padding: 0;
    position: relative;
    top: -1px;
    vertical-align: bottom;
    width: 13px;
  }
}

.input-group {
  display: table;
  input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    display: table-cell;
  }
  span {
    display: table-cell;
    &.input-group-btn {
      background-color: #eee;
      border: 1px solid #ccc;
      border-radius: 2px;
      color: #555;
      font-weight: 400;
      line-height: 1;
      text-align: center;
      vertical-align: middle;
      &:last-child {
        border-bottom-left-radius: 0;
        border-left: 0;
        border-top-left-radius: 0;
      }
    }
    button {
      -webkit-appearance: button;
    }
  }
}

.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}

.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 95%;
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
  float: left;
  min-height: 1px;
  position: relative;
}

.col-md-12 {
  width: 100%;
}

.col-md-11 {
  width: 91.66666667%;
}

.col-md-10 {
  width: 83.33333333%;
}

.col-md-9 {
  width: 75%;
}

.col-md-8 {
  width: 66.66666667%;
}

.col-md-7 {
  width: 58.33333333%;
}

.col-md-6 {
  width: 50%;
}

.col-md-5 {
  width: 41.66666667%;
}

.col-md-4 {
  width: 33.33333333%;
}

.col-md-3 {
  width: 25%;
}

.col-md-2 {
  width: 16.66666667%;
}

.col-md-1 {
  width: 8.33333333%;
}

.col-md-offset-1 {
  margin-left: 8.33333333%;
}

.clearfix {
  clear: both;
}

.row::after {
  clear: bold;
}

.button {
  border: none;
  color: #FFFFFF;
  padding: 7px 12px;
}

.gray {
  background-color: $gray;
}

.yellow {
  background-color: $yellow;
}

.blue {
  background-color: $blue;
}

.green {
  background-color: $green;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.red-text {
  color: $red;
}

.yellow-text {
  color: $yellow;
}

.blue-text {
  color: $blue;
}

.green-text {
  color: $green;
}

.gray-text {
  color: $gray;
}

.right {
  float: right;
}

.left {
  float: left;
}

.alert {
  border: 1px solid transparent;
  border-radius: 2px;
  margin-bottom: 20px;
  padding: 6px 12px;
}

.alert h4 {
  color: inherit;
  margin-top: 0;
}

.alert .alert-link {
  font-weight: bold;
}

.alert > p,
.alert > ul {
  margin-bottom: 0;
}

.alert > p + p {
  margin-top: 5px;
}

.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}

.alert-dismissable .close,
.alert-dismissible .close {
  color: inherit;
  position: relative;
  right: -21px;
  top: -2px;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.alert-success hr {
  border-top-color: #c9e2b3;
}

.alert-success .alert-link {
  color: #2b542c;
}

.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}

.alert-info hr {
  border-top-color: #a6e1ec;
}

.alert-info .alert-link {
  color: #245269;
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}

.alert-warning hr {
  border-top-color: #f7e1b5;
}

.alert-warning .alert-link {
  color: #66512c;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.alert-danger hr {
  border-top-color: #e4b9c0;
}

.alert-danger .alert-link {
  color: #843534;
}

.table {
  margin-bottom: 20px;
  max-width: 100%;
  width: 100%;
}

.round-table {
  border: solid 1px $color_swans_down_approx;
  border-collapse: collapse;
  border-spacing: 0;
  font: normal 13px $font_0, $font_1;
  thead th {
    background-color: $color_swans_down_approx;
    border: solid 1px $color_swans_down_approx;
    color: $color_william_approx;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px $white;
  }
  tbody td {
    border: solid 1px $color_swans_down_approx;
    color: $color_mine_shaft_approx;
    padding: 10px;
    text-shadow: 1px 1px 1px $white;
  }
}
.round-table-rounded {
  border: none;
  tbody {
    td {
      background-color: $color_chalky_approx;
      border: none;
      border-top: solid 1px $color_kumera_approx;
    }
  }
  thead th {
    background-color: $color_laser_approx;
    border: none;
    color: $color_mine_shaft_approx;
    text-shadow: 1px 1px 1px $color_celeste_approx;
  }
}
