/*calendar index*/
@import "color";

#calcontent {
  padding: 0;
  z-index: 1000;
  #mothertable {
    position: relative;
  }
  .mainbody {
    margin-left: 184px;
    margin-right: 15px;
    margin-top: 10px;
    -webkit-transition: margin-left .218s;
    -moz-transition: margin-left .218s;
    #full-calendar {
      .fc-resource-area {
        width: 20%;
      }
      .fc-head, .fc-axis {
        color: #555;
        font-size: 1em;
      }
    }
  }
  a.fc-time-grid-event.fc-v-event.fc-event.fc-start.fc-end.color-9.fc-draggable.fc-resizable {
    right: 5% !important;
  }
  h2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    -webkit-margin-after: 0.83em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-end: 0;
    -webkit-margin-start: 0;
    padding-left: 10px;
    padding-top: 3px;
  }
  .disable-on {
    opacity: 0.4;
    pointer-events: none;
  }
  .fc-button {
    background-image: none;
    border-radius: 2px;
    &.fc-agendaDay-button {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
    &.fc-agendaWeek-button, &.fc-month-button {
      border-radius: 0
    }
    &.fc-agendaFourDay-button {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
    &.fc-state-default.fc-corner-right {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
    &.fc-state-default.fc-corner-left {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
    &.fc-today-button.fc-state-default.fc-corner-left.fc-corner-right {
      border-radius: 2px;
    }
  }
  .fc-widget-header {
    th {
      font-size: 14px;
      font-weight: normal;
    }
  }
  .hidden-menu {
    display: none !important;
  }
}

/*pupup*/
.popup {
  label {
    color: #9b9b9b;
    display: block;
    font-size: 11px;
    font-weight: bold;
  }
  #title-popup {
    color: $blue;
    font-size: 15px;
    font-weight: bold;
    overflow: hidden;
    width: 335px;
    &:hover {
      background-color: #f1f1f1
    }
  }
  #title-input-popup {
    font-size: 15px;
    width: 335px;
    input {
      width: 100%;
    }
  }
  #time-event-popup {
    font-size: 13px;
    line-height: 24px;
  }
  .btn {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    font-weight: bold;
    height: 28px;
    line-height: 26px;
    margin-bottom: 0;
    padding: 0 10px;
    &:hover {
      background-color: #e6e6e6;
      border-color: #adadad;
    }
  }
  .btn-right {
    background-color: #4d90fe;
    color: white;
    float: right;
    &:hover {
      background-color: #286090;
      border-color: #204d74;
    }
  }
  .data-none-display {
    display: none;
  }
  .data-display {
    display: inline-block;
  }
  .close-popup {
    background: url(image_path("combined_v46_vr.png")) -228px -48px;
    cursor: pointer;
    display: inline-block;
    height: 13px;
    position: absolute;
    right: 16px;
    top: 16px;
    width: 13px;
  }
  #current-user-id-popup {
    display: none;
  }
}

#calendar-form {
  .copied {
    color: black;
  }
  textarea {
    height: 100px;
  }
}

.fc-right {
  .fc-button {
    width: 60px;
  }
}

.ui-datepicker th {
  padding-left: 0 !important;
}

.divider {
  background-color: #e5e5e5;
  height: 1px;
  margin: 13px 0;
  overflow: hidden;
  padding: 0;
}

.make-public {
  input {
    *overflow: hidden;
    position: relative;
    top: -1px;
    vertical-align: middle;
  }
  span {
    font-size: 11px;
    margin-left: 20px;
  }
  div:last-child {
    margin-left: 20px;
    margin-top: 10px;
  }
}

.share-calendar {
  text-align: left;
  p {
    font-weight: bold;
  }
  .col1,
  .col2,
  .col3 {
    display: inline;
    float: left;
    height: 32px;
  }
  .col1 {
    width: 40%;
  }
  .col2 {
    width: 50%;
  }
  .col3 {
    width: 10%;
  }
  #share-calendar-header {
    .col1,
    .col2,
    .col3 {
      font-weight: bold;
    }
  }
  #add-user-share {
    .col1,
    .col2,
    .col3 {
      background-color: #EFEDED;
    }
    .col1 {
      input {
        width: 200px;
      }
    }
    .col2 {
      button {
        cursor: pointer;
        margin-left: 10px;
        margin-top: 0;
        vertical-align: middle;
      }
      div {
        display: inline;
        float: left;
      }
    }
  }
  .permission-select {
    cursor: pointer;
    padding: 2px;
  }
  .image-remove {
    zoom: reset;
    &:hover {
      cursor: pointer;
    }
    ;
  }
  #list-share-calendar {
    .permission-select {
      width: 57%;
    }
  }
  .share-calendar-user {
    margin-top: 10px;
  }
}

.calendar-address {
  cursor: pointer;
  margin-left: 255px;
}

.cal-dialog {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: none;
  left: 150px;
  position: absolute;
  top: 250px;
  width: 600px;
  z-index: 1001;
}

.cal-dialog-title {
  background-color: #fff;
  color: #222;
  cursor: default;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 15px;
  position: relative;
  vertical-align: middle;
}

.cal-dialog-title-close {
  background: url(image_path("combined_v46_vr.png")) -215px -51px;
  cursor: pointer;
  height: 10px;
  position: absolute;
  right: 15px;
  top: 10px;
  width: 10px;
}

.cal-dialog-content {
  background-color: #fff;
  color: #222;
  padding: 15px;
}

.cal-dialog-buttons {
  background-color: #fff;
  padding: 0 15px 15px;
}

#particular-calendar {
  margin: 5px 5px;
}

.inline-block {
  display: inline-block;
  position: relative;
}

#timezone_name_current_user {
  margin-top: 6px;
}

#loading {
  display: none;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 99999;
}

.legend-workspace {
  font-size: 14px;
  font-weight: bold;
  margin: 5px 0;
}

.fieldset-workspace {
  margin-top: 20px;
}
