/*calendar index*/
@import "color";

#calcontent {
  z-index: 1000;
  padding: 0;

  #mothertable {
    position: relative;
  }

  .mainbody {
    margin-left: 184px;
    margin-right: 15px;
    margin-top: 10px;
    -moz-transition: margin-left .218s;
    -webkit-transition: margin-left .218s;
    #full-calendar {
      .fc-head, .fc-axis {
        color: #555;
        font-size: 1em;
      }
    }
  }

  a.fc-time-grid-event.fc-v-event.fc-event.fc-start.fc-end.color-9.fc-draggable.fc-resizable {
    right: 5% !important;
  }

  h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    margin: 0;
    padding-top: 3px;
    padding-left: 10px;
  }

  .disable-on {
    pointer-events: none;
    opacity: 0.4;
  }

  .fc-button {
    background-image: none;
    border-radius: 2px;

    &.fc-agendaDay-button {
      border-bottom-right-radius: 0px;
      border-top-right-radius: 0px;
    }
    &.fc-agendaWeek-button, &.fc-month-button {
      border-radius: 0px
    }
    &.fc-agendaFourDay-button {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
    &.fc-state-default.fc-corner-right {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
    &.fc-state-default.fc-corner-left {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    &.fc-today-button.fc-state-default.fc-corner-left.fc-corner-right {
      border-radius: 2px;
    }
  }

  .fc-widget-header {
    th {
      font-weight: normal;
      font-size: 14px;
    }

  }

  .hidden-menu {
    display: none !important;
  }

}

/*pupup*/
.popup {
  label {
    display: block;
    font-size: 11px;
    font-weight: bold;
    color: #9b9b9b;
  }

  #title-popup {
    color: $blue;
    font-size: 15px;
    font-weight: bold;
    width: 335px;
    overflow: hidden;

    &:hover {
      background-color: #f1f1f1
    }

  }

  #title-input-popup {
    font-size: 15px;
    width: 335px;

    input {
      width: 100%;
    }

  }

  #time-event-popup {
    font-size: 13px;
    line-height: 24px;
  }

  .btn {
    font-weight: bold;
    height: 26px;
    line-height: 26px;
    margin-bottom: 0px;
    padding: 0px 10px;
    background-color: #f5f5f5;

    &:hover {
      background-color: #e6e6e6;
      border-color: #adadad;
    }

  }

  .btn-right {
    color: white;
    float: right;
    background-color: #4d90fe;

    &:hover {
      background-color: #286090;
      border-color: #204d74;
    }

  }

  .data-none-display {
    display: none;
  }

  .data-display {
    display: inline-block;
  }

  .close-popup {
    background: url(image_path("combined_v46_vr.png")) -228px -48px;
    cursor: pointer;
    height: 13px;
    right: 16px;
    top: 16px;
    width: 13px;
    position: absolute;
    display: inline-block;
  }

  #current-user-id-popup {
    display: none;
  }
}

#calendar-form {
  .form-action {
    margin: 10px 0px 10px 0px;
    border-bottom: 1px solid #ebebeb;
    padding: 10px;
    padding-top: 0px;
  }

  .form-group {
    padding: 0 0 10px 10px;
    width: 70%;
  }

  .form-content {
    padding: 0 0 10px 10px;
    width: 70%;
    border-bottom: 1px solid #ebebeb;
  }

  .copied {
    color: black;
  }

  textarea {
    height: 100px;
  }
}

.fc-right {
  .fc-button {
    width: 60px;
  }
}

.ui-datepicker th {
  padding-left: 0px !important;
}

.divider {
  height: 1px;
  margin: 13px 0;
  overflow: hidden;
  background-color: #e5e5e5;
  padding: 0px;
}

.make-public {
  input {
    vertical-align: middle;
    position: relative;
    top: -1px;
    *overflow: hidden;
  }

  span {
    margin-left: 20px;
    font-size: 11px;
  }

  div:last-child {
    margin-top: 10px;
    margin-left: 20px;
  }

}

.share-calendar {
  text-align: left;

  p {
    font-weight: bold;
  }

  .col1,
  .col2,
  .col3 {
    height: 32px;
    float: left;
    display: inline;
    padding: 6px 0px;
  }

  .col1 {
    width: 40%;
  }

  .col2 {
    width: 50%;
  }

  .col3 {
    width: 10%;
  }

  #share-calendar-header {
    .col1,
    .col2,
    .col3 {
      font-weight: bold;
    }

  }

  #add-user-share {
    .col1,
    .col2,
    .col3 {
      background-color: #EFEDED;
    }

    .col1 {
      input {
        width: 200px;
      }
    }

    .col2 {
      button {
        vertical-align: middle;
        margin-top: 0px;
        cursor: pointer;
        margin-left: 10px;
      }

      div {
        float: left;
        display: inline;
      }
    }
  }

  .permission-select {
    padding: 2px;
    cursor: pointer;
  }

  .image-remove {
    zoom: reset;

    &:hover {
      cursor: pointer;
    }

    ;
  }

  #list-share-calendar {
    .permission-select {
      width: 57%;
    }

  }

}

.calendar-address {
  margin-left: 255px;
  cursor: pointer;
}

.cal-dialog {
  display: none;
  left: 150px;
  top: 250px;
  z-index: 1001;
  width: 600px;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cal-dialog-title {
  position: relative;
  background-color: #fff;
  padding: 10px 15px;
  color: #222;
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
  cursor: default;
}

.cal-dialog-title-close {
  background: url(image_path("combined_v46_vr.png")) -215px -51px;
  cursor: pointer;
  height: 10px;
  position: absolute;
  right: 15px;
  top: 10px;
  width: 10px;
}

.cal-dialog-content {
  padding: 15px;
  background-color: #fff;
  color: #222
}

.cal-dialog-buttons {
  padding: 0 15px 15px;
  background-color: #fff;
}

#particular-calendar {
  margin: 5px 5px;
}

.inline-block {
  position: relative;
  display: inline-block;
}

#timezone_name_current_user {
  margin-top: 6px;
}

#loading {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 99999;
}
