$black_30: rgba(0, 0, 0, 0.3);
$black_50: rgba(0, 0, 0, 0.5);
$blue: #4285f4;
$color_celeste_approx: #ccc;
$color_chalky_approx: #FFFFE0;
$color_kumera_approx: #957030;
$color_laser_approx: #B0E0E6;
$color_mine_shaft_approx: #333;
$color_swans_down_approx: #ddeeee;
$color_william_approx: #336b6b;
$gray: #EFEDED;
$green: #34a853;
$red: #ea4335;
$white: #fff;
$yellow: #FBBC05;
