@import "color";

::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

#header {
  background-color: $gray;
  color: $blue;
  height: 44px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  ul {
    margin: 0;
    overflow: hidden;
    padding: 7px 0;
    li {
      display: table;
      float: right;
      font-size: 14px;
      list-style-type: none;
      padding-right: 15px;
      a {
        color: #000;
        display: block;
        &.avatar {
          display: block;
          font-weight: 600;
          line-height: 20px;
        }
        .img-circle {
          background-color: white;
          border-radius: 2px;
          display: inline-block;
          height: 30px;
          line-height: 1;
          overflow: hidden;
          width: 30px;
          &:active {
            box-shadow: inset 0 30px 0 rgba(123, 123, 123, 0.15);
          }
        }
        &.header-nav-item {
          display: block;
          font-weight: 600;
          height: 30px;
          line-height: 20px;
        }
        &.header-item-link {
          font-weight: 500;
          padding-top: 5px;
        }
        .fa-1-5 {
          font-size: 1.15em;
        }
        .dropdown-caret {
          border: 4px solid;
          border-bottom-color: transparent;
          border-left-color: transparent;
          border-right-color: transparent;
          content: "";
          display: inline-block;
          height: 0;
          vertical-align: middle;
          width: 0;
        }
      }
      &.create-new-object {
        cursor: pointer;
        > .header-nav-item {
          padding: 5px 8px;
        }
      }
    }
    .sub-menu {
      background: #fff;
      border: 1px solid rgba(0, 0, 0, .2);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      cursor: default;
      padding-bottom: 5px;
      padding-top: 5px;
      position: fixed;
      text-align: left;
      transition: opacity .218s;
      width: 180px;
      z-index: 1000;
      div.dropdown-header {
        padding: 5px 15px;
        white-space: normal;
      }
      .header-nav-current-user {
        font-size: inherit;
        padding-bottom: 0;
        .css-truncate-target {
          max-width: 100%;
        }
      }
      div.sub-setting {
        color: #428bca;
        cursor: pointer;
        padding: 5px 15px;
        text-align: left;
        text-decoration: none;
        &:hover {
          background-color: #e6e6e6;
        }
      }
      div.line {
        background: #ebebeb;
        display: block;
        height: 1px;
      }
    }
    .sub-menu-visible {
      display: block;
    }
    .sub-menu-hidden {
      display: none;
    }
  }
  #logo {
    border-right: none;
    display: table;
    float: left;
    font-size: 28px;
    height: 44px;
    width: 250px;
    span {
      display: table-cell;
      padding-left: 15px;
      vertical-align: middle;
      a {
        color: $blue;
        font-weight: bold;
        line-height: 30px;
        text-decoration: none;
        transition: all 0.5s;
        &:hover {
          color: #4CAF50;
        }
      }
    }
  }
}

.main-content {
  padding-top: 44px;
  > section {
    margin: 0 15px;
  }
}

.field {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.btn {
  background-image: none;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  height: 32px;
  line-height: 1.4em;
  margin-bottom: 10px;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  &:focus {
    outline: -webkit-focus-ring-color auto 3px;
    outline-offset: -2px;
  }
}

.btn-save {
  background: $red;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #fff;
  cursor: pointer;
  font-size: 11px;
  font-weight: bold;
  height: 29px;
  margin-bottom: 0;
  min-width: 80px;
  outline: none;
  padding: 6px 12px;
  text-align: center;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  &:hover {
    background: #c53727;
    border: 1px solid #b0281a;
    border-bottom: 1px solid #af301f;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    color: #fff;
  }
  &:active {
    background-color: #b0281a;
    border: 1px solid #992a1b;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3)
  }
  &:focus {
    outline: none;
  }
}

.btn-discard {
  background: $gray;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #444;
  cursor: pointer;
  font-size: 11px;
  font-weight: bold;
  height: 29px;
  margin-bottom: 0;
  min-width: 54px;
  outline: none;
  padding: 6px 12px;
  text-align: center;
  -webkit-transition: all .218s;
  -moz-transition: all .218s;
  -o-transition: all .218s;
  transition: all .218s;
  -webkit-user-select: none;
  -moz-user-select: none;
  &:hover {
    background: #f8f8f8;
    border: 1px solid #c6c6c6;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    color: #222;
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    -o-transition: all 0s;
    transition: all 0s;
    z-index: 80
  }
  &:active {
    background: #f6f6f6;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  }
}

.btn-go-back {
  background: $gray;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #444;
  cursor: pointer;
  font-size: 11px;
  font-weight: bold;
  height: 29px;
  margin-bottom: 0;
  margin-right: 0;
  min-width: 54px;
  outline: none;
  padding: 8px 12px;
  text-align: center;
  -webkit-transition: all .218s;
  -moz-transition: all .218s;
  -o-transition: all .218s;
  transition: all .218s;
  -webkit-user-select: none;
  -moz-user-select: none;
  &:hover {
    background: #f8f8f8;
    border: 1px solid #c6c6c6;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    color: #222;
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    -o-transition: all 0s;
    transition: all 0s;
    z-index: 80
  }
  &:active {
    background: #f6f6f6;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  i {
    background: url(image_path("combined_v46_vr.png")) -106px -77px no-repeat;
    display: inline-block;
    height: 15px;
    opacity: .65;
    vertical-align: middle;
    width: 15px;
  }
}

.form-control {
  border-radius: 2px;
  height: 32px;
}

input[type=checkbox] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

.form-border-bottom {
  border: none;
  border-bottom: 2px solid #4790E3;
  padding: 10px;
  width: 100%;
}

.col-50 {
  width: 50%;
}

.col-30 {
  width: 30%;
}

.center {
  text-align: center;
}

// Jquery UI Calendar UI Custom
#ui-datepicker-div {
  border-radius: 0;
}

#flash-message {
  margin: 10px;
}

.select2-container {
  &:focus {
    border-color: #66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    outline: -webkit-focus-ring-color auto 3px;
    outline-offset: -2px;
  }
}

#signin_error_message {
  color: red;
  font-size: 14px;
}
#signup_error_message {
  color: red;
  font-size: 14px;
}

.button-add {
  background-color: #f4511e;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  float:right;
  margin: 5px;
  padding: 0;
  text-align: center;
  transition: all 0.5s;
  width: 200px;
}

.button-add span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-add span:after {
  content: "\f0fe";
  font-family: FontAwesome;
  font-size: 18px;
  opacity: 0;
  position: absolute;
  right: -20px;
  top: 0;
  transition: 0.5s;
}

.button-add:hover span {
  padding-right: 25px;
}

.button-add:hover span:after {
  opacity: 1;
  right: 0;
}

.button-add span a{
  color: $white;
}

.back-button{
  line-height: 32px;
  margin-bottom: 0;
}

.dropdown-divider {
  background-color: #e1e4e8;
  height: 1px;
  margin: 8px 1px;
}

.css-truncate.css-truncate-target, .css-truncate .css-truncate-target {
  display: inline-block;
  max-width: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
}

.form-action {
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 10px;
  padding: 10px 15px;
  margin-right: -15px;
  margin-left: -15px;
  font-size: 12px;

  .btn {
    margin-bottom: 0;
    line-height: 1.1em;
    height: 30px;
  }
}

.modal-content {
  border-radius: 2px;
}

.modal {
  top: 44px;
}
