.dialog {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  width: 400px;
  z-index: 1001;
}

.dialog-visible {
  z-index: 1011;
}

.dialog-hidden {
  display: none;
  top: 0;
}

.bubblemain {
  outline: medium none;
  padding: 10px 15px;
  position: relative;
}

.tab-labels {
  height: 30px;
}

.tile-content {
  clear: both;
  position: relative;
}

.period-tile {
  clear: both;
  color: #1b1b1b;
  font-family: Arial;
  font-size: 13px;
}

.tile-label {
  color: #9b9b9b;
  font-size: 11px;
  font-weight: bold;
  height: 18px;
  line-height: 18px;
}

.error-title {
  color: red;
  display: none;
  height: 18px;
  line-height: 18px;
}

.event-time {
  line-height: 24px;
}

.gcal-textinput,
UNUSED.gcal-contenteditable-textinput.textarea {
  box-sizing: border-box;
  color: #1b1b1b;
  padding: 3px;
  width: 100%;
}

.action {
  clear: both;
  color: #1b1b1b;
  font-family: Arial;
  font-size: 13px;
  height: 30px;
  line-height: 30px;
  line-height: 30px;
  position: relative;
  .right-actions {
    display: inline-block;
    float: right;
  }
}

.select-calendar {
  .title-label {
    color: #9b9b9b;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    height: 18px;
    line-height: 18px;
  }
  .calendar-container {
    height: 36px;
    line-height: 36px;
    position: relative;
  }
}

.tab-container .tab-label {
  cursor: pointer;
}

.tab-container .tab-label {
  border-right: 1px solid #999;
  margin-left: 1ex;
  padding-right: 1ex;
}

.tab-container .tab-label:first-child {
  margin-left: 0;
}

.tab-container .tab-label:last-child {
  border-right: medium none;
  padding-right: 0;
}

.tab-container .tab-label.active {
  display: block;
  font-weight: bold;
  padding: 5px 0;
}

.button {
  border-radius: 2px;
  cursor: pointer;
  min-width: 54px;
  outline: 0 none;
  padding: 0 8px;
  text-align: center;
  white-space: nowrap;
}

.button-action {
  background-color: #4d90fe;
  background-image: -moz-linear-gradient(center top, #4d90fe, #4787ed);
  border: 1px solid #3079ed;
  box-shadow: none;
  color: #fff;
}

.button-action:focus {
  border: 1px solid transparent;
  box-shadow: 0 0 0 1px #fff inset;
  outline: 0 none transparent;
}

.button-edit {
  background-color: #4CAF50;
  background-image: -moz-linear-gradient(center top, #4d90fe, #4787ed);
  border: 1px solid #4CAF50;
  box-shadow: none;
  color: #fff;
}

.bubble-close {
  background: url(image_path("combined_v46_vr.png")) -228px -48px;
  cursor: pointer;
  height: 13px;
  position: absolute;
  right: 16px;
  top: 16px;
  width: 13px;
}

.prong-dk {
  border: 9px solid;
  border-color: #ccc transparent;
}

.prong-dk,
.prong-lt {
  left: 0;
  position: absolute;
  top: 0;
}

.prong-lt {
  border: 8px solid;
  border-color: #fff transparent;
  left: 1px;
}

.no-prong,
.top-prong,
.bottom-prong {
  height: 9px;
  overflow: hidden;
  position: absolute;
  width: 18px;
}

.overlay-bg {
  background: rgba(0, 0, 0, 0.4);
  background: #000;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* Create event new page */
#event {
  .main-event-form {
    display: inline-block;
    padding-left: 0;
    width: 600px;
  }
  .form-attendee {
    bottom: 0;
    position: absolute;
    right: -350px;
    top: 0;
    #add-attendee {
      margin-bottom: 0;
    }
    .form-control {
      display: inline-block;
      margin: 0;
      width: 200px;
    }
  }
  .form-group {
    .select2 .selection .select2-selection {
      width: 100% !important;
    }
    input.select2-search__field {
      -webkit-appearance: textfield;
      outline: none;
      padding: 0 6px;
    }
  }
  .notify {
    padding-left: 15px;
  }
  .fix-width-date {
    display: inline-block;
    width: 120px;
  }
  .fix-width-time {
    display: inline-block;
    width: 90px;
  }
  .dialog-repeat-event:hover {
    text-decoration: underline;
  }
  .checkox-new-event {
    border: 1px solid black;
    overflow: hidden;
    width: 300px;
  }
  .all-day {
    float: left;
    width: 100px;
  }
  .cb-repeat {
    overflow: hidden;
  }
  form {
    textarea {
      height: 100px;
    }
  }
}

/* Show event detail */
#maincell {
  .contain {
    .btn {
      padding: 6px 25px;
    }
    .ev-title {
      margin: 20px 0 10px;
      padding-left: 30px;
      .title {
        font-size: 22px;
        font-weight: bold;
        line-height: 20px;
        margin-top: 10px;
      }
    }
    .ev-dt {
      font-size: 15px;
      font-style: italic;
      margin-bottom: 10px;
      padding-left: 30px;
      .lb-dt {
        border: 0;
        margin: 0;
        padding: 0;
      }
    }
    .ev-cal {
      padding-left: 20px;
      padding-right: 20px;
      .ev-contain {
        .lb-contain {
          display: inline-block;
          float: left;
          width: 49.95%;
          .lbcal {
            padding: 0;
            vertical-align: top;
            ul {
              border-bottom: 1px solid #CCCCCC;
              border-spacing: 10px;
              display: table;
              font-size: 16px;
              line-height: 20px;
              list-style: none;
              margin: 0;
              max-width: 500px;
              padding: 0;
              table-layout: fixed;
              li:first-child {
                font-weight: bold;
                text-align: left;
                width: 90px;
              }
              li {
                float: left;
                padding-right: 15px;
                width: 300px;
                word-wrap: break-word;
              }
            }
            ul.end-list {
              border-bottom: 0;
            }
          }
        }
        .ev-att {
          display: inline-block;
          float: left;
          font-size: 16px;
          padding: 0;
          width: 49.55%;
          .contain {
            list-style: none;
            width: 250px;
            .lb-attendees,
            .lb-notification {
              font-weight: bold;
              padding-left: 10px;
            }
            .form-field {
              .btn {
                background: #f5f5f5;
                border: 1px solid #dcdcdc;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                border-radius: 0;
                color: #444;
                cursor: pointer;
                font-size: 11px;
                font-weight: bold;
                height: 27px;
                line-height: 27px;
                min-width: 54px;
                outline: none;
                padding: 0 8px;
                text-align: center;
                -webkit-transition: all .218s;
                -moz-transition: all .218s;
                -o-transition: all .218s;
                transition: all .218s;
                -webkit-user-select: none;
                -moz-user-select: none;
                &:hover {
                  background: #f8f8f8;
                  border: 1px solid #c6c6c6;
                  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
                  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
                  box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
                  color: #222;
                  -webkit-transition: all 0s;
                  -moz-transition: all 0s;
                  -o-transition: all 0s;
                  transition: all 0s;
                  z-index: 80
                }
                &:active {
                  background: #f6f6f6;
                  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
                  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
                  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
                }
              }
            }
            ul {
              list-style: none;
              padding-left: 10px;
              li {
                padding-bottom: 10px;
                .btn-del {
                  background: url(image_path("combined_v46_vr.png")) -228px -48px;
                  cursor: pointer;
                  float: left;
                  height: 13px;
                  padding-right: 10px;
                  right: 16px;
                  top: 16px;
                  width: 13px;
                }
              }
            }
          }
        }
        .ev-att::after {
          clear: both;
        }
      }
    }
  }
}

.fc-event {
  border-radius: 0 !important;
  color: #000 !important;
  .fc-content {
    .fc-time {
      font: bold 10px Arial,sans-serif;
    }
    .fc-title {
      font: 12px Arial,sans-serif;
    }
  }
}

.before-current {
  background-color: #A9A9A9 !important;
}

.modal-dialog {
  background-color: #fff;
  border: 1px solid #acacac;
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  color: #222;
  outline: 0;
  padding: 5px 5px 15px 5px;
  position: absolute;
  z-index: 1011;
  .btn {
    font-size: 11px;
    font-weight: bold;
    height: auto;
  }
  .btn-confirm {
    margin-right: 10px;
    width: 160px;
  }
  .btn-right {
    float: right;
  }
  .modal-content {
    background-color: #fff;
    color: #222;
    padding: 15px;
  }
  .modal-title {
    background-color: #fff;
    color: #222;
    cursor: default;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    vertical-align: middle;
  }
  .explanation-cell {
    font-size: 12px;
    padding-top: 10px;
  }
}

#repeat {
  .ep-recl-dialog {
    border-radius: 2px;
     &:focus {
      outline: none;
    }
  }
  div {
    display: block;
  }
  .ep-recl-dialog-title {
    background-color: #fff;
    color: #222;
    cursor: default;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    vertical-align: middle;
  }
  .ep-recl-dialog-title-close {
    background: url(image_path("combined_v46_vr.png")) -215px -51px;
    cursor: pointer;
    height: 10px;
    position: absolute;
    right: 15px;
    top: 10px;
    width: 10px;
  }
  .ep-recl-dialog-content {
    background-color: #fff;
    color: #222;
    padding: 15px;
  }
  table {
    border-collapse: separate;
    border-color: grey;
    border-spacing: 2px;
  }
  tbody, tr {
    border-color: inherit;
    vertical-align: middle;
  }
  .ep-rec th {
    color: #222;
    font-weight: bold;
    padding: 5px 10px 5px 0;
    text-align: right;
    white-space: nowrap;
  }
  .ep-rec td {
    font-size: 13px;
    padding: 5px 0;
  }
  td,
  th {
    vertical-align: inherit;
  }
  #select-repeat-every {
    width: 60px;
  }
  .ep-rec-ends-th {
    vertical-align: top;
  }
  .ep-rec-ends-opt {
    display: block;
  }
  .ep-rec-summary {
    font-weight: bold;
  }
  .ep-rec-buttons-padding {
    padding-top: 15px;
  }
  .ep-recl-dialog .goog-imageless-button {
    margin: 1px 5px 1px 1px;
  }
  .goog-inline-block {
    display: inline-block;
    display: -moz-inline-box;
    position: relative;
  }
}

.bubble {
  font-size: 9px;
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 400px;
  z-index: 1001;
}

.bubble-table {
  table-layout: fixed;
  width: 100%;
}

.bubble-cell-side {
  width: 25px;
}

.bubble-corner {
  height: 25px;
  overflow: hidden;
  position: relative;
  width: 25px;
}

.bubble-tl {
  left: 0;
}

.bubble-sprite {
  height: 96px;
  position: absolute;
  width: 148px;
  background-image: url(image_path("bubble_combined_v2.png"));
}

.bubble-cell-main {
  background-color: #fff;
  width: 100%;
}

.bubble-top {
  border-top: 1px solid #ababab;
}

.bubble-top,
.bubble-bottom {
  background: #fff;
  height: 24px;
}

.bubble-tr {
  left: -25px;
}

.bubble-mid {
  background: #fff;
  border-left: 1px solid #ababab;
  border-right: 1px solid #ababab;
  padding: 0 20px;
}

.bubble .details .title {
  font-size: medium;
  font-weight: bold;
}

.bubble .detail-content {
  padding-bottom: 0;
}

.detail-content {
  padding: 1em 0;
}

.detail-item {
  margin: 0;
  padding: 3px 0;
}

.bubble-bl {
  left: 0;
  top: -25px;
}

.bubble-bottom {
  border-bottom: 1px solid #ababab;
}

.bubble-br {
  left: -25px;
  top: -25px;
}

.event-details-label {
  clear: left;
  color: #4e4e4e;
  display: block;
  float: left;
  font-size: 100%;
  font-weight: bold;
  margin: 0;
  width: 7em;
}

.event-when {
  display: block;
  margin-left: 7em;
}

.bubble-closebutton {
  cursor: pointer;
  height: 13px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 14px;
  background: url(image_path("combined_v22.png")) 0 -50px;
}

.prong {
  height: 72px;
  margin-bottom: -72px;
  overflow: hidden;
  position: relative;
  top: -1px;
  width: 98px;
}

.prong .bubble-sprite {
  left: -52px;
  top: -24px;
}

.show-popup {
  left: 200px;
  top: 30px;
  visibility: visible;
}

.hidden-popup {
  left: 0;
  top: 0;
  visibility: hidden;
}

.fc-content {
  cursor: pointer;
}

.links {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none;
}

.group_attendee {
  display: block;
  li {
    display: inline-block;
  }
  .remove_attendee {
    margin-left: 13px;
    &:hover {
      cursor: pointer
    }
  }
}

.hidden {
  display: none;
}

.ui-dialog {
  z-index: 1012;
}

#event-list-id li {
  display: none;
}

// Overide select2

.select2-selection--single {
  border: 1px solid #ccc;
  border-radius: 2px;
  height: 32px;
}

.select2-container--default .select2-selection--single {
  border: 1px solid #ccc;
  border-radius: 2px;
  height: 32px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 30px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 12px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 30px;
}

.room-search-form {
  .fix-width-time {
    display: inline-block;
    width: 90px;
  }
  .fix-width-date {
    display: inline-block;
    width: 120px;
  }
  .room-search-submit {
    margin-top: 6px;
  }
  .fix-width-input {
    width: 650px;
  }
}
