.organizations {
  ul.nav {
    padding: 0 15px;
  }

  div.tab-content {
    padding: 15px;
  }

  .tbl-object {
    display: table;
    padding: 15px;
    .tbl-item {
      display: table-cell;
      vertical-align: middle;
      .org-name {
        font-weight: normal;
        color: #333;
      }
    }
    .tbl-item.tbl-item-primary {
      padding-left: 20px;
      white-space: normal;
      width: 99%;
    }
    .tbl-item.avatar {
      display: block;
      width: 100px;
      height: 100px;
      overflow: hidden;
      line-height: 1;
      vertical-align: middle;
      border-radius: 3px;
    }
  }
}
