.organizations {
  ul.nav {
    padding: 0 15px;
  }

  div.tab-content {
    padding: 15px;
  }

  .tbl-object {
    display: table;
    padding: 15px;

    .tbl-item {
      display: table-cell;
      vertical-align: middle;

      .org-name {
        color: #333;
        font-weight: normal;
      }
    }

    .tbl-item.tbl-item-primary {
      padding-left: 20px;
      white-space: normal;
      width: 99%;
    }

    .tbl-item.avatar {
      border-radius: 3px;
      display: block;
      height: 100px;
      line-height: 1;
      overflow: hidden;
      vertical-align: middle;
      width: 100px;
    }
  }
}

.infor-organization {
  h1 {
    float: left;
  }

  .btn-edit-organization {
    color: #333;
    float: left;
    font-size: 1.5em;
    margin: 4px 0 0 7px;
  }
}

.organization-form {
  .upload-image {
    height: 144px;
    margin-top: 10px;
    width: 144px;

    &:hover .btn-file {
      display: block;
    }

    .img-thumbnail {
      height: 144px;
      position: absolute;
      width: 144px;
    }

    .btn-file {
      background-color: #46484A;
      border-radius: 4px;
      border: 0;
      display: none;
      font-size: 45px;
      height: 144px;
      line-height: 137px;
      opacity: 0.8;
      overflow: hidden;
      position: relative;
      width: 144px;

      input[type = file] {
        background: #ffffff;
        cursor: inherit;
        display: block;
        filter: alpha(opacity = 0);
        font-size: 100px;
        min-height: 100%;
        min-width: 100%;
        opacity: 0;
        outline: none;
        position: absolute;
        right: 0;
        text-align: right;
        top: 0;
      }
    }

    fieldset {
      border: 0;
    }
  }

  .infor-organization {
    margin-left: 10px;
  }
}
