.table-place {
  width: 700px;
  border-spacing: 0;
  td, th {
    height: 30px;
  }

  td a.place-action {
    font-size: 16px;
  }

  .th-name-place {
    width: 40%;
    text-align: left;
  }

  .th-address-place {
    width: 40%;
    text-align: left;
  }
}

.btn-new-place {
  padding-left: 0;
  padding-top: 30px;
}

.table-hover tbody tr:hover td, .table-hover thead tr:hover th {
  background-color: #DDDDDD;
}

.place-form {
  width: 500px;
  padding-bottom: 20px;
  .actions {
    .btn-submit {
      font-size: 11px;
      font-weight: bold;
      margin-bottom: 0px;
      margin-top: 8px;
      min-width: 80px;
      outline: none;
      padding: 6px 12px;
      text-align: center;
      text-transform: uppercase;
      background: #4D90FE;
      text-shadow: 0 1px rgba(0, 0, 0, 0.1);
      height: 29px;
      &:hover {
        border: 1px solid #0a54ce;
        color: #fff;
        background: #2e79f4;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      }
    }
  }
}
