#calcontent {
  #nav {
    left: 0;
    top: 0;
    margin-left: 0;
    -moz-transition: all .218s;
    -webkit-transition: all .218s;
    -moz-transition: all .218s;
    position: absolute;
    width: 165px;
    #sidebar {
      margin-bottom: 1em;
      padding: 0;
      white-space: nowrap;
      width: 165px;
      .btn {
        margin-bottom: 0;
      }
      #source-popup {
        .btn-default {
          background-color: #eff3f6;
          height: 29px;
          width: 165px;
          padding-left: 5px;
        }
        a {
          height: 2.1em;
        }

        li a {
          line-height: 12px;
          padding: 7px 25px;

          img {
            border-radius: 3px;
          }
        }
      }
      .btn-popup-show {
        position: relative;
      }
      .truncate {
        font-weight: bold;
        left: 29px;
        max-width: 113px;
        overflow: hidden;
        padding-left: 3px;
        position: absolute;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .dropdown-menu {
        top: 35px;
      }
      .caret {
        margin-left: 114px;
        padding-top: 4px;
      }
    }
    .h.zippy-arrow {
      background-position: -153px -81px;
      &.down {
        background-position: -141px -81px;
      }
    }
  }
  /*sidebar*/
  .btn-group {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    .dropdown-toggle:not(:first-child) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
    .btn {
      float: left;
      outline: none;
      position: relative;
      &:first-child:not(:last-child):not(.dropdown-toggle) {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
    }
    #current-user-id-popup {
      display: none;
    }
  }
  #my-calendar {
    margin-top: 10px;
  }
  #other-calendar {
    margin-top: 10px;
    .send-request-email {
      margin-bottom: 5px;
      position: relative;
      #request-email-input {
        font-size: 12px;
        height: 25px;
        margin-bottom: 0;
        outline: none;
        width: 100%;
      }
      #request-email-button {
        background-image: url(image_path("icon_add.png"));
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20px 20px;
        color: #999;
        font-size: 14px;
        height: 23px;
        outline: none;
        transition: background-color 0.2s;
        width: 23px;
      }
    }
    #collapse2 {
      margin-top: 5px;
    }
  }
  .caret {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid;
    display: inline-block;
    height: 5px;
    margin-left: 2px;
    vertical-align: middle;
    width: 0;
  }
  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .dropdown-menu {
    background-clip: padding-box;
    border: 1px solid rgba(27,31,35,0.15);
    border-radius: 3px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    display: none;
    font-size: 14px;
    left: 0;
    list-style: none;
    padding: 0;
    position: absolute;
    top: 100%;
    width: 300px;
    z-index: 1000;
    .top-prong {
      left: 7px;
      top: -9px;
      transform: rotateX(180deg);
      .prong-lt {
        border-color: #f6f8fa transparent;
      }
    }
    li .qab-container {
      padding: 0;
      .heading-label {
        background: #f6f8fa;
        border-bottom: 1px solid #e1e4e8;
        font-size: 0.8em;
        font-weight: bold;
        line-height: 30px;
        padding-left: 10px;
        .close-popup-organization {
          float: right;
          font-size: 1.2em;
          line-height: 30px;
          padding-right: 10px;
        }
      }
      #list-organization {
        padding: 0;
        li {
          border-bottom: 1px solid #e1e4e8;
          height: 35px;
          &:hover {
            background-color: #0366d6;
            a {
              color: white;
            }
          }
          a {
            color: #333;
            display: block;
            font-size: 0.8em;
            text-decoration: none;
            span {
              padding-left: 5px;
            }
          }
        }
      }
    }
  }
  .open {
    .dropdown-menu {
      display: block;
    }
  }
  /* popup button create */
  .qab-container {
    background: #fff;
    border-color: #ccc;
    padding: 0 10px 0 10px;
    textarea {
      border: 1px solid;
      border-color: #c0c0c0 #d9d9d9 #d9d9d9;
      border-radius: 2px;
      height: 30px;
      margin-right: 10px;
      padding: 5px;
      width: 350px;
    }
    p {
      color: #888;
      font-size: 11px;
      margin: 0;
      margin-top: 10px;
    }
    label {
      display: block;
      font-size: 13px;
      font-weight: normal;
      font-weight: normal;
      margin: 0;
      margin-bottom: 10px;
    }
    ;
    #btn-quick-add {
      border: 1px solid rgba(0, 0, 0, 0.1);
      cursor: pointer;
      display: inline-block;
      height: 32px;
      margin-right: 0;
      outline: none;
      text-align: center;
      text-decoration: none;
      width: 54px;
      a {
        color: #ffffff;
        padding: 5px 16px;
      }
    }
  }
  .qab-container * {
    vertical-align: middle;
  }
  /*my calendar*/
  .calHeader {
    background: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    zoom: 1;
    .hover-my-calendar {
      line-height: 30px;
      &:hover {
        background-color: #e6e6e6;
      }
      #clst_my_menu {
        &:hover {
          background-color: #e6e6e6;
        }
      }
    }
  }
  .zippy-arrow {
    background-image: url(image_path("combined_v46_vr.png"));
    display: -moz-inline-box;
    display: inline-block;
    height: 11px;
    line-height: 0;
    vertical-align: middle;
    width: 11px;
  }
  /* mini calendar */
  #mini-calendar {
    display: block;
    td, th {
      font-size: 12px;
    }
    .ui-datepicker-inline {
      border: none !important;
      display: block;
      width: 165px !important;
    }
    .ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {
      background: #ffffff;
      border: none;
    }
    .ui-widget-header .ui-state-hover {
      background: none;
      border: none;
      cursor: pointer;
      font-weight: normal;
    }
    .ui-widget {
      font-size: 14px;
    }
    table.ui-datepicker-calendar {
      background-color: #ffffff;
      th {
        font-size: 13px;
        font-weight: normal;
      }
    }
    .ui-datepicker {
      padding: 0 !important;
      .ui-datepicker-title {
        cursor: pointer;
        line-height: 2em;
        margin: 0 !important;
        text-align: left !important;
        span {
          font-weight: normal;
        }
        &:hover {
          background-color: #e6e6e6;
        }
        th {
          padding: 0;
        }
      }
      .ui-state-default {
        background: #FFFFFF;
        border: 1px solid #FFFFFF;
        font-size: 12px;
        font-weight: normal;
      }
      td {
        a {
          padding: 0;
          text-align: center;
          &:hover {
            background: #e6e6e6;
          }
          ;
        }
      }
      .ui-datepicker-month {
        width: 70px;
      }
      .ui-datepicker-year {
        width: 70px;
      }
      .ui-state-active {
        background: #e6e6e6;
      }
      .ui-state-highlight {
        background: #e6e6e6;
        border: 1px solid #d3d3d3;
        font-weight: bold;
      }
      .ui-datepicker-header {
        margin-top: 0;
        padding-top: 0;
      }
    }
    a.ui-datepicker-prev.ui-corner-all {
      height: 15px;
      left: 143px;
      right: 10px !important;
      top: 8px;
      width: 15px;
    }
    a.ui-datepicker-next.ui-corner-all {
      height: 15px;
      right: -5px;
      top: 8px;
      width: 15px;
    }
    span.ui-icon.ui-icon-circle-triangle-w {
      background-position: 0;
      border-bottom: 6px solid transparent;
      border-right: 6px solid #2f2f2f;
      border-top: 6px solid transparent;
      height: 0;
      width: 0;
    }
    span.ui-icon.ui-icon-circle-triangle-e {
      background-position: 0;
      border-bottom: 6px solid transparent;
      border-left: 6px solid #2f2f2f;
      border-top: 6px solid transparent;
      height: 0;
      width: 0;
    }
  }
  #mini-calendar.out {
    display: none;
  }
  #title-mini-calendar {
    display: none;
  }
  #title-mini-calendar.in {
    display: block;
  }
  .clstMenu, .clstMenu-child {
    background: url(image_path("combined_v46_vr.png")) -217px 0;
    border: 1px solid #b5b5b5;
    font-size: 1px;
    height: 12px;
    overflow: hidden;
    position: absolute;
    right: 5px;
    text-indent: -100px;
    top: 10px;
    width: 12px;
  }
  .clstMenu-child {
    cursor: pointer;
    display: none;
    height: 12px;
    padding-left: 2px;
    right: 5px;
    top: 7px;
    width: 12px;
  }
  /* sub menu my calendar */
  .sub-menu {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: default;
    font-size: 13px;
    position: absolute;
    transition: opacity .218s;
    white-space: nowrap;
    width: 210px;
    z-index: 1000;
    div {
      cursor: pointer;
      text-decoration: none;
      &.link {
        padding: 6px 8em 6px 30px;
        &:hover {
          background-color: #e6e6e6;
        }
      }
      &.calcolor-menuitem {
        border-top: 1px solid #ebebeb;
        padding-top: 17px;
      }
      &.f-menuitem {
        color: #333;
        cursor: pointer;
        list-style: none;
        margin: 0;
        padding: 17px 0em 6px 30px;
        position: relative;
        white-space: nowrap;
      }
      .reset {
        clear: both;
        font-size: 1px;
        height: 1px;
        line-height: 1px;
        margin: 0;
      }
      .ccp-rb-color {
        height: 14px;
        margin: 0 4px 4px 0;
        width: 14px;
        &:hover {
          border: 1px solid black;
        }
      }
      .hdn {
        height: 1px;
        overflow: hidden;
        position: absolute;
        top: -999px;
        width: 1px;
      }
    }
  }
  .menu-calendar {
    width: 250px;
    #id-of-calendar {
      display: none;
    }
  }
  .sub-menu-visible {
    display: block;
  }
  .sub-menu-hidden {
    display: none;
  }
  /*dropdow menu my calendar */
  .collapse.in {
    display: block;
  }
  .collapse {
    display: none;
    max-height: 140px;
    overflow: hidden;
    &:hover {
      overflow: auto;
    }
    ol, ul {
      margin-bottom: 0;
      margin-top: 0;
      padding: 0 0 0 15px;
    }
    li {
      display: list-item;
      text-align: -webkit-match-parent;
    }
    .list-group {
      padding-left: 0;
      .list-group-item {
        background-color: #fff;
        border: none;
        border-radius: 2px;
        display: block;
        font-size: 13px;
        overflow: hidden;
        padding: 5px 0 5px 5px;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
        &:hover {
          background-color: #e6e6e6;
          .clstMenu-child {
            display: block;
          }
        }
        input {
          *overflow: hidden;
          height: 13px;
          margin: 0;
          padding: 0;
          position: relative;
          top: -2px;
          vertical-align: bottom;
          width: 13px;
        }
      }
      .sub-list {
        background-color: #fff;
        display: block;
        font-size: 13px;
        margin: 0;
        overflow: hidden;
        padding: 5px 0 5px 5px;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
        &:hover {
          background-color: #e6e6e6;
          .clstMenu-child {
            display: block;
          }
        }
        input {
          *overflow: hidden;
          height: 13px;
          margin: 0;
          padding: 0;
          position: relative;
          top: -1px;
          vertical-align: bottom;
          width: 13px;
        }
      }
    }
  }
  .background-hover {
    background-color: #e6e6e6 !important;
    .clstMenu-child {
      display: block;
    }
  }
  .sub-calendars li {
    font-size: 13px;
    margin: 5px;
  }
  .f-inline-block {
    display: inline-block;
  }
  .ccp-rb-color {
    cursor: pointer;
    padding: 0;
    vertical-align: top;
    &:hover {
      border: 1px solid black;
    }
    .bcp-selected {
      background-position: -95px -50px;
      background: url("//calendar.google.com/googlecalendar/images/combined_v46_vr.png");
      height: 10px;
      left: -1px;
      margin: 3px;
      overflow: hidden;
      position: relative;
      top: -1px;
      vertical-align: top;
      width: 10px;
    }
  }
  /* checkbox calendars */
  .divBox {
    cursor: pointer;
    display: block;
    margin-bottom: 0;
    overflow: hidden;
    padding-left: 15px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    label {
      cursor: pointer;
      display: block;
      height: 13px;
      left: 0;
      margin-bottom: 0;
      padding-left: 0;
      position: absolute;
      top: 3px;
      -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
      -o-transition: all .5s ease;
      transition: all .5s ease;
      width: 13px;
      z-index: 1;
    }
    .ccp-rb-color {
      height: 13px;
      margin: 0 4px 0 0;
      vertical-align: middle;
      width: 13px;
      &:hover {
        border: 1px solid black;
      }
    }
  }
}
