#calcontent {
  #nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 165px;
    margin-left: 15px;
    -moz-transition: all .218s;
    -webkit-transition: all .218s;

    #sidebar {
      width: 165px;
      padding: 0px;
      margin-bottom: 1em;
      white-space: nowrap;

      .btn {
        height: 15px;
        margin-bottom: 0px;
      }
    }
  }

  /*sidebar*/
  .btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    .dropdown-toggle:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .btn {
      position: relative;
      float: left;
      outline: none;

      &:first-child:not(:last-child):not(.dropdown-toggle) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

    }

    #current-user-id-popup {
      display: none;
    }

  }

  #my-calendar {
    margin-top: 10px;
  }

  #other-calendar {
    margin-top: 10px;
    .send-request-email {
      position: relative;

      #request-email-input {
        font-size: 12px;
        width: 100%;
        height: 25px;
        outline: none;
      }

      #request-email-button {
        width: 23px;
        height: 23px;
        background-color: #fff;
        color: #999;
        border: none;
        font-size: 14px;
        transition: background-color 0.2s;
        background-image: url(image_path("icon_add.png"));
        background-repeat: no-repeat;
        background-size: 20px 20px;
        background-position: center;
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 1px;
        outline: none;

        &:hover {
          background-color: #bababa;
        }

      }

    }

    #collapse2 {
      margin-top: 5px;
    }

  }

  .caret {
    display: inline-block;
    width: 0;
    height: 5px;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  }

  .open {
    .dropdown-menu {
      display: block;
    }

  }

  /* popup button create */
  .qab-container {
    background: #fff;
    border-color: #ccc;
    padding: 0px 10px 0px 10px;

    textarea {
      border: 1px solid;
      border-color: #c0c0c0 #d9d9d9 #d9d9d9;
      height: 30px;
      margin-right: 10px;
      padding: 0px;
      width: 350px;
      border-radius: 2px;
    }

    p {
      color: #888;
      font-size: 11px;
      margin: 0;
    }

    label {
      font-size: 13px;
      font-weight: normal;
      display: block;
      font-weight: normal;
      margin: 0;
      margin-bottom: 10px;
    }

    ;

    #btn-quick-add {
      display: inline-block;
      border: 1px solid rgba(0, 0, 0, 0.1);
      cursor: pointer;
      height: 32px;
      width: 54px;
      outline: none;
      text-align: center;
      text-decoration: none;
      margin-right: 0px;

      a {
        color: #ffffff;
        padding: 5px 16px;
      }

    }

  }

  .qab-container * {
    vertical-align: middle;
  }

  /*my calendar*/
  .calHeader {
    margin: 0px;
    font-weight: 500;
    position: relative;
    background: #fff;
    cursor: pointer;
    font-size: 14px;
    padding: 0px;
    zoom: 1;
    -moz-user-select: none;
    -webkit-user-select: none;

    .hover-my-calendar {
      line-height: 30px;

      &:hover {
        background-color: #e6e6e6;
      }

      #clst_my_menu {
        &:hover {
          background-color: #e6e6e6;
        }

      }

    }

  }

  .goog-zippy-collapsed .zippy-arrow {
    background-position: -153px -81px;
  }

  .goog-zippy-collapsed .zippy-arrow-mini-calendar {
    background-position: -153px -81px;
  }

  .zippy-arrow,
  .zippy-arrow-mini-calendar {
    display: -moz-inline-box;
    display: inline-block;
    width: 11px;
    height: 11px;
    line-height: 0;
    vertical-align: middle;
    background-image: url(image_path("combined_v46_vr.png"));
  }

  #mini-calendar {
    display: block;
  }

  #mini-calendar.out {
    display: none;
  }

  #title-mini-calendar {
    display: none;
  }

  #title-mini-calendar.in {
    display: block;
  }

  .clstMenu,
  .clstMenu-child {
    background: url(image_path("combined_v46_vr.png")) -217px 0;
    border: 1px solid #b5b5b5;
    font-size: 1px;
    overflow: hidden;
    position: absolute;
    text-indent: -100px;
    right: 5px;
    top: 10px;
    width: 10px;
    height: 10px;
  }

  .clstMenu-child {
    padding-left: 2px;
    height: 10px;
    width: 8px;
    top: 8px;
    right: 5px;
    display: none;
    cursor: pointer;
  }

  /* sub menu my calendar */
  .sub-menu {
    position: absolute;
    z-index: 1000;
    background: #fff;
    white-space: nowrap;
    transition: opacity .218s;
    border: 1px solid rgba(0, 0, 0, .2);
    cursor: default;
    font-size: 13px;
    width: 210px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    div {
      cursor: pointer;
      text-decoration: none;

      &.link {
        padding: 6px 8em 6px 30px;
        &:hover {
          background-color: #e6e6e6;
        }
      }

      &.calcolor-menuitem {
        border-top: 1px solid #ebebeb;
        padding-top: 17px;
      }

      &.f-menuitem {
        position: relative;
        color: #333;
        cursor: pointer;
        list-style: none;
        margin: 0;
        padding: 17px 0em 6px 30px;
        white-space: nowrap;
      }

      .reset {
        clear: both;
        height: 1px;
        margin: 0;
        font-size: 1px;
        line-height: 1px;
      }

      .ccp-rb-color {
        height: 14px;
        margin: 0 4px 4px 0;
        width: 14px;
        &:hover {
          border: 1px solid black;
        }
      }

      .hdn {
        height: 1px;
        width: 1px;
        overflow: hidden;
        position: absolute;
        top: -999px;
      }

    }

  }

  .menu-calendar {
    width: 250px;

    #id-of-calendar {
      display: none;
    }

  }

  .sub-menu-visible {
    display: block;
  }

  .sub-menu-hidden {
    display: none;
  }

  /*dropdow menu my calendar */
  .collapse.in {
    display: block;
  }

  .collapse {
    display: none;
    max-height: 140px;
    overflow: hidden;

    &:hover {
      overflow: auto;
    }

    ol,
    ul {
      margin-top: 0;
      margin-bottom: 0px;
      padding: 0 0 0 15px;
    }

    li {
      display: list-item;
      text-align: -webkit-match-parent;
    }

    .list-group {
      padding-left: 0;

      .list-group-item {
        position: relative;
        display: block;
        padding: 5px 0 5px 5px;
        background-color: #fff;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 13px;

        &:hover {
          background-color: #e6e6e6;

          .clstMenu-child {
            display: block;
          }

        }

        input {
          width: 13px;
          height: 13px;
          padding: 0;
          margin: 0;
          vertical-align: bottom;
          position: relative;
          top: -2px;
          *overflow: hidden;
        }
      }

      .sub-list {
        position: relative;
        display: block;
        padding: 5px 0 5px 5px;
        margin: 0;
        background-color: #fff;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 13px;

        &:hover {
          background-color: #e6e6e6;

          .clstMenu-child {
            display: block;
          }

        }

        input {
          width: 13px;
          height: 13px;
          padding: 0;
          margin: 0;
          vertical-align: bottom;
          position: relative;
          top: -1px;
          *overflow: hidden;
        }

      }

    }

  }

  .background-hover {
    background-color: #e6e6e6 !important;

    .clstMenu-child {
      display: block;
    }
  }

  .sub-calendars li {
    font-size: 13px;
    margin: 5px;
  }

  .f-inline-block {
    display: inline-block;
  }

  .ccp-rb-color {
    cursor: pointer;
    vertical-align: top;
    padding: 0px;
    &:hover {
      border: 1px solid black;
    }
    .bcp-selected {
      background: url("//calendar.google.com/googlecalendar/images/combined_v46_vr.png");
      background-position: -95px -50px;
      height: 10px;
      width: 10px;
      left: -1px;
      top: -1px;
      margin: 3px;
      overflow: hidden;
      position: relative;
      vertical-align: top;
    }
  }

  /* checkbox calendars */
  .divBox {
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    padding-left: 15px;
    margin-bottom: 0px;
    cursor: pointer;

    label {
      display: block;
      width: 13px;
      height: 13px;
      -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
      transition: all .5s ease;
      cursor: pointer;
      position: absolute;
      top: 3px;
      left: 0px;
      z-index: 1;
      padding-left: 0px;
      margin-bottom: 0px;
    }
    .ccp-rb-color {
      height: 13px;
      margin: 0 4px 0 0;
      width: 13px;
      vertical-align: middle;
      &:hover {
        border: 1px solid black;
      }
    }
  }
}
