@import "color";

#slider {
  height: 800px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  ul {
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 300%;
  }
  li {
    border: none;
    bottom: 0;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    width: 33.333333%;
    img {
      border: none;
      min-height: 100%;
      width: 100%;
    }
  }
  button {
    background-color: $black_30;
    border: none;
    bottom: 0;
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: border-box;
    color: $white;
    display: inline;
    margin: 0;
    opacity: 0;
    outline: none;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 5%;
    z-index: 2;
    &.prev {
      left: 0;
    }
    &.next {
      right: 0;
    }
    &:hover {
      opacity: 1.0;
    }
    &:active {
      opacity: 1.0;
    }
  }
  .content {
    background-color: $black_50;
    bottom: 0;
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: border-box;
    color: $white;
    font-size: 1.5em;
    height: 3em;
    left: 0;
    line-height: 3em;
    padding: 0 1em;
    position: absolute;
    right: 0;
    z-index: 3;
    a {
      color: inherit;
    }
  }
}
