/*users show information*/
@import "color";

.name {
  font-size: 32px;
  font-weight: strong;
}

button#close {
  -webkit-appearance: none;
  background: 0 0;
  border: 0;
  cursor: pointer;
  padding: 0;
}
