<%= link_to calendar do %>
  <div class="calendar">
    <div class="media-left">
      <span class="color-<%= calendar.color_id %>"></span>
    </div>
    <div class="media-body">
      <span><%= calendar.name %></span>
    </div>
  </div>
<% end %>
