<div class="tbl-object">
  <%= image_tag @organization.logo_url, class: "avatar tbl-item" %>
  <div class="tbl-item tbl-item-primary">
    <h1 class="org-name">
      <%= @organization.name %>
    </h1>
  </div>
</div>

<div class="tabs">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#workspaces" data-toggle="tab">Workspaces</a>
    </li>
    <li>
      <a href="#calendars" data-toggle="tab">Calendars</a>
    </li>
    <li>
      <a href="#members" data-toggle="tab">Members</a>
    </li>
    <li><a href="#activities" data-toggle="tab">Activities</a></li>
<!--     <li class="dropdown">
      <a href="#" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#tab4default" data-toggle="tab">Default 4</a></li>
        <li><a href="#tab5default" data-toggle="tab">Default 5</a></li>
      </ul>
    </li> -->
  </ul>
</div>
<div class="tab-content">
  <div class="tab-pane fade in active" id="workspaces">
    <%= render @workspaces %>
  </div>
  <div class="tab-pane fade" id="calendars">
    <h2>Calendars</h2>
  </div>
  <div class="tab-pane fade" id="members">
    <h2>Members</h2>
  </div>
  <div class="tab-pane fade" id="activities">
    <h2>Activities</h2>
  </div>
<!--   <div class="tab-pane fade" id="tab4default">Default 4</div>
  <div class="tab-pane fade" id="tab5default">Default 5</div> -->
</div>
