<li class="list-group-item">
  <label class="divBox">
    <div data-color-id="1" data-place-id="<%= place.id %>" class="f-inline-block ccp-rb-color color-1" tabindex="0" role="button">
    </div>
    <%= place.name %>
  </label>
</li>
